:root {
  --slide-count: 5;
  --slide-width: 30rem;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

@media (max-width: 425px) {
  html {
    font-size: 8px;
  }
}

body {
  font-size: 1.5rem;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.meet-our-team {
  font-size: 4rem;
  text-align: center;
  padding-top: 3rem;
  color: rgb(5, 99, 161);
  font-weight: bold;
  font-family: Kadwa, Calibri, serif;
}

.carousel__wrap {
  margin-top: 2%;
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.carousel__inner {
  height: 40rem;
  position: relative;
  width: calc(var(--slide-width) * 3);
}

.carousel__container {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.carousel__slide-list {
  height: 100%;
  left: 50%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  transform: translateX(-50%);
  width: calc((var(--slide-count) + 0.5) * var(--slide-width) * 2);
}

.carousel__slide-item {
  display: inline-block;
  height: var(--slide-width);
  margin: 0;
  padding: 1rem;
  position: absolute;
  transition: all 0.3s;
  width: var(--slide-width);
}

.carousel__slide-item-img-link {
  cursor: zoom-in;
  display: flex;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.carousel__slide-item-img-link:hover {
  transform: scale(1.04);
}

.carousel__slide-item-img-link img {
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
  width: 100%;
  border-radius: 0 5rem 0 5rem;
}

.carousel__slide-item-img-link::after {
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  color: white;
  content: ""; /* Remove the "read more" content */
  display: flex;
  height: 100%;
  justify-content: center;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  width: 100%;
  border-radius: 0 5rem 0 5rem;
  cursor: pointer;
}

.carousel__slide-item-img-link:hover::after {
  opacity: 1; /* Show the social media icons on hover */
}

.carousel-slide-item__body {
  bottom: -5rem;
  height: 0%;
  width: 100%;
  padding-top: 1rem;
  position: absolute;
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.carousel-slide-item__body h4 {
  margin: 0.7rem 0 0;
  text-transform: uppercase;
  text-align: center;
}

.carousel-slide-item__body h4:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.carousel-slide-item__body p {
  font-size: 1.5rem;
  line-height: 1.3;
  margin: 0.7rem 0 0;
  font-family: "Kaisei Decol", serif;
  text-align: center;
}

.carousel__btn {
  align-items: center;
  background: 0;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel__btn--prev {
  left: -10rem;
}

.carousel__btn--next {
  right: -10rem;
}

.carousel__btn-arrow {
  border: solid black;
  border-width: 0 0.4rem 0.4rem 0;
  height: 3rem;
  padding: 3px;
  width: 3rem;
  z-index: 10;
}

.carousel__btn-arrow--left {
  transform: rotate(135deg);
}

.carousel__btn-arrow--right {
  transform: rotate(-45deg);
}

.linkedin-link img {
  width: 40px;
  height: 40px;
}

.linkedin-link img:hover {
  transform: scale(1.1);
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .meet-our-team {
    font-size: 6rem;
  }
  .carousel-slide-item__body h4 {
    font-size: 2rem;
    margin: 0.7rem 0 0;
    text-transform: uppercase;
  }

  .carousel-slide-item__body p {
    font-size: 1.5rem;
    line-height: 1.3;
    margin: 0.7rem 0 0;
    font-family: "Kaisei Decol", serif;
  }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
  .carousel__btn--prev {
    left: -5rem;
  }

  .carousel__btn--next {
    right: -5rem;
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
  .carousel__btn--prev {
    left: -5rem;
  }

  .carousel__btn--next {
    right: -5rem;
  }

  .carousel__btn-arrow {
    height: 2rem;
    width: 2rem;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .carousel__btn--prev {
    left: -5rem;
  }

  .carousel__btn--next {
    right: -5rem;
  }

  .carousel__btn-arrow {
    height: 2rem;
    width: 2rem;
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  .carousel__btn--prev {
    left: -5rem;
  }

  .carousel__btn--next {
    right: -5rem;
  }

  .carousel__btn-arrow {
    height: 2rem;
    width: 2rem;
  }
  .carousel-slide-item__body h4 {
    font-size: 2rem;
  }

  .carousel-slide-item__body p {
    font-size: 1.2rem;
    line-height: 1.3;
  }
  .linkedin-link img {
    width: 30px;
    height: 30px;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  .carousel__btn--prev {
    left: -3rem;
  }

  .carousel__btn--next {
    right: -3rem;
  }

  .carousel__btn-arrow {
    height: 2rem;
    width: 2rem;
  }
  .carousel-slide-item__body h4 {
    font-size: 2rem;
  }

  .carousel-slide-item__body p {
    font-size: 1.2rem;
    line-height: 1.3;
  }
  .linkedin-link img {
    width: 25px;
    height: 25px;
  }
}
